@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
}

hr {
    display: inline-flex;
    position: relative;
    bottom: 5px;
    color: darkgray;
}

body {
    background: gainsboro;
    font-family: 'Barlow', sans-serif;

}

.main {
    background: white;
    max-width: 90%;
    height: 1000px;
    box-shadow: 4px 4px 10px -2px rgba(34, 60, 80, 0.2);
    /*border: solid;*/
    margin: 80px auto;
}

.logo {
    margin: 40px 50px;
}

.left {
    background: url(bg.jpg) 0 0/100% 100%;
    width: 55%;
    height: 1000px;
    float:left;
}

.right {
    width: 36%;
    height: 78%;
    float:left;
    position: relative;
    top: 11%;
    left: 4%;
}

.register {
    background: #3698fb;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    user-select: none;
    padding: 0.5em 4em;
    outline: none;
    width: auto;
    position: absolute;
    left: 0;
    bottom: 0;
}

.fb {
    background: #3b5998;
    color: #fff;
    text-decoration: none;
    user-select: none;
    padding: 0.5em 4em 0.8em 0.8em;
    outline: none;
    width: auto;
    position: absolute;
    left: 0;
}

.ld {
    background: #2867B2;
    color: #fff;
    text-decoration: none;
    user-select: none;
    padding: 0.5em 4em 0.8em 0.8em;
    outline: none;
    width: auto;
    position: absolute;
    right: 0;
}

.fb:hover, .ld:hover {background: #3698fb}

#Capa_1 {
    height: 20px;
    padding: 0 15px 0 0;
    position: relative;
    top: 4px;
}
/*a.knopka:hover { background: rgb(232,95,76); } !* при наведении курсора мышки *!*/
/*a.knopka:active { background: rgb(152,15,0); } !* при нажатии *!*/

#or {
    position: absolute;
    left: 32%;
    top: 26%;

}

.email{
    position: absolute;
    left: 0;
    top: 34%;
    height: 40px;
    width: 45%;
}

.phone{
    position: absolute;
    top: 34%;
    right: 0;
    height: 40px;
    width: 45%;
}

.radio {
    position: absolute;
    top: 57%;
    font-weight: 500;
    margin: 50px 0 0 0;
}

.disclaimer {
    position: absolute;
    bottom: 10%;
}

label {
    padding-left: 8px;
    padding-right: 40px;
}

span {
    font-size: 10px;
    color: darkgray;
    padding-left: 2px;
}